<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Hackme</a>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">


      <ul class="navbar-nav ml-auto">

          {% if session["logged_in"] %}
 
          <li class="nav-item active">
              <a class="nav-link" href="/logout">Çıkış Yap</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/gift">Hediye Kodu</a>
            </li>
            
          {% else %}
          <li class="nav-item active">
              <a class="nav-link" href="/login">Giriş Yap</a>
            </li>

          {% endif %}


          
          
          <li class="nav-item active">
            <a class="nav-link" href="/register">Kayıt Olun</a>
          </li>
        
        </ul>
    </div>


  </nav>